*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}

.left-section{
    grid-column: span 1;
    background-color: #242531;
}

.right-section{
    grid-column: span 1 / span 2;
    background-color: #f7f7f7;
}


.left-content{
    padding: 1rem;
    color: #f7f7f7;
}


.profile-pic {
    width: 60%;
    border: 5px solid white;
    border-radius: 30%;
    display: block;
    margin: auto;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
    letter-spacing: 0.02px;
}

.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: .5rem;
}

.description {
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.8;
}

.contact-item {
    display: flex;
    justify-content: space-evenly;
}

.contact-details {
    color: #fff;
    margin-top: 0.8rem;
}

.contact-label {
    font-size: 0.8rem;
}

.icon {
    margin: 0 0.5rem;
}

.email, .phone, .location {
    display: flex;
    margin-bottom: 0.3rem;
}

.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.skill-name{
    font-size: .65rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: .5rem;
    margin-top: 1rem;
}

.progress-bar{
    border: 1px solid white;
    height: 4px;
    background-color: white;
}


.progress-css {
    height: 4px;
    border: 1px solid white;
    background-color: #fff;
    width: 59%;
}

.progress-dsa {
    height: 4px;
    border: 1px solid white;
    background-color: #fff;
    width: 90%;
}

.right-main-content{
    padding: 2rem 3rem;
}


.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
